/* Navigation Area */
body{
    background-color: rgb(61, 61, 196);
    height: 100vh;
}

/* Logo */
.thin{
    font-weight: 300;
    color: white;
    padding: 0;
    font-size: 1.25em;
}

.thick{
    font-weight: 600;
    color: white;
    padding: 0;
    font-size: 1.25em;
}

.submit-session{
    width: 100%;
    height: 100%;
}

/* General CSS Shit */

.c-text-center{
    text-align: center;
    vertical-align: middle;
}
/* .home-page{
    background-color: rgb(61, 61, 196);
    height: 100vh;
} */

.main-one{
    margin-top: 2.5vh;  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sub-one{
    width: 150px;  
    height: 5vh;  
    background-color: #8cacea;  
    margin: 5px;
    border-radius: 5px 5px;
    padding: 5px;
    /* Sub */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body Section */
.main-two{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sub-two{
    width: 95%;
    /* height: 90vh; */
    background-color: #8cacea;
    border-radius: 5px 5px;
    margin-top: 1.0vh;
    /* Sub Boxes */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.main-bottom{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.sub-bottom{
    width: 50%;
    /* height: 90vh; */
    background-color: #8cacea;
    border-radius: 5px 5px;
    margin-top: 1.0vh;
    /* Sub Boxes */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


.sub-two-one{
    width: 45%;  
    height: 35vh;  
    /* background-color: rgb(61, 61, 196);   */
    margin: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: dashed rgb(61, 61, 196) 1.5px;
    border-radius: 5px 5px;
    /* Sub */
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.box-one{
    width: 100%;
    height: 75%;
    /* border: 2px solid pink; */
    padding: 5px;
     /*Sub*/
     display: flex;
     justify-content: center;
     align-items: center;

}
.box-two{
    width: 100%;
    height: 15%;
    /* border: 2px solid pink; */
}

/* List Two Page */
.sub-two-two{
    width: 90%;  
    height: 7.5vh;  
    /* background-color: rgb(61, 61, 196);   */
    margin: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: dashed rgb(61, 61, 196) 1.5px;
    border-radius: 5px 5px;
    /* Sub */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* List One Modifications */
.programme-one{
    color: rgb(61, 61, 196);
    font-size: 1.05em;
    font-weight: 600;
    margin: 5px;
}

.year-one{
    color: white;
    font-size: 1.05em;
    font-weight: 600;
    margin: 5px;
    background-color: rgb(61, 61, 196);
    padding: 4px;
    border-radius: 7.5px;
}

/* List One Modifications */


.main-mid{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.sub-two-mid{
    width: 90%;
    /* height: 90vh; */
    background-color: #8cacea;
    border-radius: 5px 5px;
    margin-top: 1.0vh;
    /* Sub Boxes */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/* List Two Page */

/* Icons */
.icon{
    font-size: 5.50em;
    color: rgb(61, 61, 196);
}

.c-text-one{
    font-size: 1.25em;
    color: rgb(61, 61, 196);
}

/* Custom Checkbox */

/* Custom Checkbox */

/* Complete Page Style */
.complete-box{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: auto;
}

/* Complete Page Style */
