{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block body %}

<!-- Navigation Area -->
<div class="main-one ">

    <div class="sub-one shadow-lg"></div>
    <div class="sub-one shadow-lg">{{ today }}</div>
</div>

<!-- Body Sections -->
<div class="main-two">
    <div class="sub-two shadow-lg">
        <div class="sub-two-one"></div>
        <div class="sub-two-one"></div>
        <div class="sub-two-one"></div>
        <div class="sub-two-one"></div>
        
    </div>
</div>

{% endblock%}