{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block body %}

<!-- Navigation Area -->

<!-- Body Sections -->
<div class="main-two">
    <div class="sub-two shadow-lg">
        <div class="sub-two-one">
            <div class="box-one">
                <a href="/listClassesSession">                
                    <span class="fas fa-plus icon c-text-center"></span>
                </a>
            </div>
            <div class="box-two c-text-one c-text-center">New Session</div>
        </div>
        <div class="sub-two-one">
            <div class="box-one">
                <span class="fas fa-plus icon c-text-center"></span>
            </div>
            <div class="box-two c-text-one c-text-center">New Class</div>
        </div>
        <div class="sub-two-one">
            <div class="box-one">
                <a href="/listClassesRecords">
                    <span class="fas fa-file-alt icon c-text-center"></span>
                </a>
            </div>
            <div class="box-two c-text-one c-text-center">Download Records</div>
        </div>
        <div class="sub-two-one">
            <div class="box-one">
                <a href="/deleteClassesRecords">
                    <span class="fas fa-file-alt icon c-text-center"></span>
                </a>
            </div>
            <div class="box-two c-text-one c-text-center">Delete Records</div>
        </div>

    </div>
</div>

{% endblock%}