{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block body %}

<div class="main-mid">
    <div class="sub-two-mid shadow-lg">
        <div class="sub-two-two">
            <div class="programme-one">
                <span>
                    Computer Engineering
                </span>
            </div>
            <div class="year-one">
                {{ year }}
            </div>
        </div>
    </div>
</div>

</div>
<!-- Body Sections -->
<div class="main-two">

    <div class="sub-two-mid shadow-lg">
        <form method="POST" action="/complete">
        {% for key, Value in currentClass.items() %}
        <div class="sub-two-two">
            <div class="programme-one">
                <span>
                    {{ Value }}
                </span>
            </div>
            <div class="year-one">
                    <input type="checkbox" value="{{ key }}" name="student" class="regular-checkbox">
                    <label for="{{ key }}"></label>
                </div>
            </div>
            {% endfor %}
    </div>

</div>

<div class="main-bottom">
    <div class="sub-bottom shadow-lg">
        <div class="sub-two-two">
                    <input type="submit" value="Submit" class="submit-session">
                </form>
            </div>
        </div>
    </div>


{% endblock%}