{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block body %}

<!-- Body Sections -->
<div class="main-two">
    <div class="sub-two shadow-lg">
        {% for value in classes.values() %}
        <div class="sub-two-two">
                <div class="programme-one">
                    <span>
                        {{ value['name'] }}
                    </span>
                </div>            
            <a href="/listStudentsRandom" id="{{ value['name'][:5] }}-{{ value['year'] }}">

                <div class="year-one" onclick="alert('Hello')";>
                    {{ value['year'] }}
                </div>
            </a>
        </div>
        {% endfor %}

        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
    </div>
</div>

{% endblock%}