{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block body %}

<!-- Body Sections -->
<div class="main-two">
    <div class="sub-two shadow-lg">
        {% for value in classes.values() %}
        <div class="sub-two-two">
            <div class="programme-one">
                <span>
                    {{ value['name'] }}
                </span>
            </div>
            <a href="/listStudentsRandom" id="{{ value['name'] }}{{ value['year'] }}" onclick="myFunction(this.id)">

                <div class="year-one">
                    {{ value['year'] }}
                </div>
            </a>
        </div>
        {% endfor %}

        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
    </div>
</div>

<!-- Custom JavaScript -->
<script type="text/javascript" src="{{ url_for('static' , filename='js/custom.js') }}"></script>

<!-- Custom JavaScript -->

{% endblock%}