{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block body %}

<!-- Body Sections -->
<div class="main-two">
    <div class="sub-two shadow-lg">
        <div class="sub-two-two">
            <a href="/listStudentsRandom">
                <div class="programme-one">
                    <span>
                        Computer Engineering
                    </span>
                </div>            
            </a>
            <a href="/listStudentsRandom">

                <div class="year-one">
                    Year Two
                </div>
            </a>
        </div>
        <div class="sub-two-two">
            <div class="programme-one">
                <span>
                    Computer Engineering
                </span>
            </div>
            <div class="year-one">
                Year Two
            </div>
        </div>
        <div class="sub-two-two">
            <div class="programme-one">
                <span>
                    Computer Engineering
                </span>
            </div>
            <div class="year-one">
                Year Two
            </div>
        </div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
        <div class="sub-two-two"></div>
    </div>
</div>

{% endblock%}